
@font-face {
    font-family: dombuldore;
    src: url(../img/dumbledor.1-thin.ttf);
}

@font-face {
    font-family: lumos;
    src: url(../img/HARRYP__.TTF);
}

body {
    font-family: dombuldore;
    background-image: url(../img/claro.jpeg);
    color: bisque;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.oscuro{
    background-image: url(../img/oscuro.jpg);
    font-family: lumos;
    color: #04d643; 
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.modoOscuro{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    position: fixed;
    top: 70px;
    right: 0;
}

.iconoMO{
    width: 3vw;
}

.textoTitulo{
    text-align: center;
    font-size: 5rem;
}

.subTitulo{
    font-size: 2.5;
    text-align: center;
}
.texto {
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

header {
    font-size: 2.1rem;

}

.iconoNav{
    width: 5vw;
}

.calderito{
    width: 3vw;
}
.escudo {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.footer {
    color: rgba(73, 72, 72, 0.678);
    font-size: 15px;
    text-align: center;
}

.cards {
    background-color: transparent;
    color: bisque;
    align-items: center;
    font-size: 1.5rem;
    margin: auto;
    transition: all 0.3s ease;
    border-color: transparent;
}

.oscuro .cards {
    color: #04d643; 
}

.cards:hover {
    transform: scale(1.10);
    box-shadow: 0 5px 10px -5px rgb(0, 0, 0);
}

.boton {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.59);
    color: white;
}

.boton:hover {
    background-color: black;
    color: white;

}

.icono {
    width: 20px;
    height: 20px;
    color: black;
}


.imagenTienda {
    transition: all 0.3s ease;
}

.imagenTienda:hover {
    transform: scale(1.07);
}

.caldero{
    background-color: rgba(193, 181, 181, 0.558)
}

.lechuza{
    width: 9vw;
    display: flex;
    justify-content: center;
    margin: auto;
}


.formulario {
    background-image: url(../img/cartas.png);
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    max-width: 400px;
    border-radius: 7px;
    color: rgb(71, 48, 2);
    margin: auto;
  }

  .oscuro .formulario {
    background-image: url(../img/carta-dos.png);
    padding: 20px;
  }

  .botonForm{
    background-color: rgba(80, 51, 2, 0.81);
    color: black;
    font-size: 1rem;
  }

  .imgBib{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 30vw;
  }
  
  @media (min-width:340px) and (max-width: 768px){
    .formulario {
        margin: auto;
        width: 90%;
        max-width: fit-content;

    }
  }

